/* Voltaire */
@import url('https://fonts.googleapis.com/css?family=Voltaire&display=swap');
/* Barlow Condensed */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e50914;
    font-family: 'Voltaire', sans-serif;
    font-size: 3rem;
    font-weight: inherit;
    text-align: center;
    text-transform: uppercase;
}

header {
    width: 100%
}

header h1 {
    margin: 5rem 0;
}

main {
    padding: 0 1rem;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0 0 0;
}

article {
    background: #222;
    display: inline-block;
    width: 1fr;
    padding: 1rem;
}

article video {
    cursor: pointer;
    height: 15rem;
    margin-left: -1rem;
    width: calc(100% + (1rem * 2));
}

article img {
    height: 30rem;
    margin-left: -1rem;
    margin-top: -16rem;
    object-fit: cover;
    position: relative;
    width: calc(100% + (1rem * 2));
    z-index: 1;
}

article h2 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

article p {
    color: #B4B4B4;
    margin: 1rem 0 0 0;
}

article p:nth-of-type(1) {
    height: 12rem;
    position: relative;
    margin: -12rem 0 1rem 0;
}

article p:nth-of-type(3) {
    position: relative;
    margin-top: -1.4rem;
    float: right;
}

.hide {
    visibility: hidden;
}

@media (min-width: 40rem) {

    header a h1 {
        margin: 5rem 0;
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: 1rem;
        margin: 4rem 0 0 0;
    }
}
