* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    /*    Bron: https://www.youtube.com/watch?v=0Og_kQUsxEw    */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}


/*************

Section

*************/

section {
    padding: 7rem;
    height: calc(100vh - 14rem);
    width: calc(100vw -14rem);
    scroll-snap-align: start;
}

section:nth-of-type(1) {
    background: linear-gradient(black, black), url(../images/ik_homepage.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    color: #fff;
    /*    filter: brightness(0.30);*/
    text-align: center;
}

section:nth-of-type(2) {
    color: #fff;
    background-image: url(../images/nntumbnail.png);
    background-color: salmon;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

section:nth-of-type(3) {
    background: url(../images/wildresidence-cover.jpg);
    background-position: center;
    background-size: cover;
}

section:nth-of-type(4) {
    background: url(../images/werkcollege_2.jpg);
    background-position: center;
    background-size: cover;
}

section:nth-of-type(5) {
    background: url(../images/suitwall-side.jpg);
    background-position: center;
    background-size: cover;
}

/*
tr:nth-child(even)
tr:nth-child(odd)
*/

section h1 {
    font-size: 20vmin;
    margin-top: 4rem;
}


section h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}


section p {
    margin-bottom: 2rem;
    max-width: 30rem;
}

section:first-child p {
    width: 100%;
}

.button_case {
    position: absolute;
    display: block;
    width: 10rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #12a65c;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0 #0f864a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;
    transition: all 0.15s ease-in-out;
}

.button_case:hover {
    background-color: #14bd69;
    box-shadow: 0 4px 0 #119d57, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button_case:active {
    margin-top: 4px;
    box-shadow: none;
}

/*************

Einde section

*************/



/*************

Social media

*************/

.social {
    position: fixed;
    display: flex;
    justify-content: space-between;
    float: right;
    width: 15rem;
    z-index: 2;
}

.social a {
    text-decoration: none;
}

.social a svg {
    height: 24px;
    width: 24px;
    fill: rgba(0, 0, 0, 0.5);
}

.social a svg:hover {
    fill: rgba(250, 250, 250, 0.5);
}

/*************

Einde social media

*************/
