* {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

main {
    padding: 1rem;
}

/*header*/


header {
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.20);
/*    overflow: hidden;*/
    position: fixed;
    padding: 1rem 0;
    height: 3rem;
    margin: 0;
    width: 100vw;
}

.container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    max-width: 83rem;
    margin: auto auto;
}

/*
header a,
header nav {
    flex: 1;
}
*/

header nav {
    align-self: flex-end;
}

header a img {
    height: 100%;
}

header h1 {
    color: #D8232A;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

header a {
    color: #D8232A;
    text-decoration: none;
}

#favorieten:before {
    content: url('../images/heart.svg');
}

/*
#favorieten:before {
    content: "";
    display: block;
    background: url('/images/heart.svg') no-repeat;
    width: 20px;
    height: 20px;
    margin: 0 6px 0 0;
}
*/


/*Filmlijst*/

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    margin: auto auto;
    max-width: 83rem;
}

article {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    display: inline-block;
    height: 30rem;
    width: 1fr;
    text-align: center;
}

article footer {
    padding: 0.5rem;
}

article footer p {
    float: left;
}

article footer p:last-child {
    float: right;
}

article footer p:last-child:before {
    content: url('../images/clock.svg');
}

article h2 {
    margin-top: 2rem;
    position: relative;
}

article img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}


/* Hartje animaties */

.niet_toegevoegd_aan_favorieten {
    /*    fill: rgba(0, 0, 0, 0.50);*/
    fill: #fff;
    stroke: #000;
    stroke-width: 1 inner;
    height: 2rem;
    position: relative;
    margin-top: -1rem;
    margin-left: 75%;
    transition: all .2s ease-in-out;
}

.toegevoegd_aan_favorieten {
    fill: #f00;
    height: 2rem;
    position: relative;
    margin-top: -1rem;
    margin-left: 75%;
    animation: hartje-animatie .4s ease-in-out;
}

@keyframes hartje-animatie {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    75% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.hartje {
    display: block;
    height: 2rem;
    position: relative;
    margin-top: -1rem;
    margin-left: 7rem;
}

/* Einde hartje animaties */



@media (min-width: 42rem) {

    article:first-of-type {
        grid-column: auto / span 2;
    }

}
